{% extends "base/base.html" %}

{% load static %}

{% block title %}SEO Tools by Ilia Nikitin{% endblock %}

{% block h1 %}by Ilia Nikitin{% endblock %}

{% block content %}


<section id="features" class="services-area pt-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="section-title text-center pb-40">
                        <div class="line m-auto"></div>

                    </div> <!-- section title -->
                </div>
            </div> <!-- row -->
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 col-sm-8">
                    <div class="single-services text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.2s; animation-name: fadeIn;">
                        <div class="services-icon">
                            <img class="shape" src="{% static 'images/services-shape.svg'%}" alt="shape">
                            <img class="shape-1" src="{% static 'images/services-shape-1.svg'%}" alt="shape">
                            <i class="lni lni-coin"></i>
                        </div>
                        <div class="services-content mt-30">
                            <h4 class="services-title">Age</h4>
                            <p class="text">Узнать возраст документа</p>
                            <a class="more" href="/tools/age/">Learn More <i class="lni lni-chevron-right"></i></a>
                        </div>
                    </div> <!-- single services -->
                </div>
                <div class="col-lg-4 col-md-6 col-sm-8">
                    <div class="single-services text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.5s; animation-name: fadeIn;">
                        <div class="services-icon">
                            <img class="shape" src="{% static 'images/services-shape.svg'%}" alt="shape">
                            <img class="shape-1" src="{% static 'images/services-shape-2.svg'%}" alt="shape">
                            <i class="lni lni-cog"></i>
                        </div>
                        <div class="services-content mt-30">
                            <h4 class="services-title">Competitors</h4>
                            <p class="text">Найти своих конкурентов</p>
                            <a class="more" href="/tools/competitors/">Learn More <i class="lni lni-chevron-right"></i></a>
                        </div>
                    </div> <!-- single services -->
                </div>
                <div class="col-lg-4 col-md-6 col-sm-8">
                    <div class="single-services text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.8s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.8s; animation-name: fadeIn;">
                        <div class="services-icon">
                            <img class="shape" src="{% static 'images/services-shape.svg'%}" alt="shape">
                            <img class="shape-1" src="{% static 'images/services-shape-3.svg'%}" alt="shape">
                            <i class="lni lni-bolt-alt"></i>
                        </div>
                        <div class="services-content mt-30">
                            <h4 class="services-title">Hlword</h4>
                            <p class="text">Подсветка по запросу</p>
                            <a class="more" href="/tools/hlword/">Learn More <i class="lni lni-chevron-right"></i></a>
                        </div>
                    </div> <!-- single services -->
                </div>
                
                <div class="col-lg-4 col-md-6 col-sm-8">
                    <div class="single-services text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.8s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.8s; animation-name: fadeIn;">
                        <div class="services-icon">
                            <img class="shape" src="{% static 'images/services-shape.svg'%}" alt="shape">
                            <img class="shape-1" src="{% static 'images/services-shape-3.svg'%}" alt="shape">
                            <i class="lni lni-comments-alt"></i>
                        </div>
                        <div class="services-content mt-30">
                            <h4 class="services-title">Indexation</h4>
                            <p class="text">Проверить индексацию документа</p>
                            <a class="more" href="/tools/indexation/">Learn More <i class="lni lni-chevron-right"></i></a>
                        </div>
                    </div> <!-- single services -->
                </div>
                
                <div class="col-lg-4 col-md-6 col-sm-8">
                    <div class="single-services text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.8s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.8s; animation-name: fadeIn;">
                        <div class="services-icon">
                            <img class="shape" src="{% static 'images/services-shape.svg'%}" alt="shape">
                            <img class="shape-1" src="{% static 'images/services-shape-2.svg'%}" alt="shape">
                            <i class="lni lni-compass"></i>
                        </div>
                        <div class="services-content mt-30">
                            <h4 class="services-title">Password</h4>
                            <p class="text">Генератор паролей</p>
                            <a class="more" href="/tools/password/">Learn More <i class="lni lni-chevron-right"></i></a>
                        </div>
                    </div> <!-- single services -->
                </div>
                
                <div class="col-lg-4 col-md-6 col-sm-8">
                    <div class="single-services text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.8s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.8s; animation-name: fadeIn;">
                        <div class="services-icon">
                            <img class="shape" src="{% static 'images/services-shape.svg'%}" alt="shape">
                            <img class="shape-1" src="{% static 'images/services-shape-1.svg'%}" alt="shape">
                            <i class="lni lni-construction-hammer"></i>
                        </div>
                        <div class="services-content mt-30">
                            <h4 class="services-title">Positions</h4>
                            <p class="text">Позиции сайта в выдаче Yandex</p>
                            <a class="more" href="/tools/positions/">Learn More <i class="lni lni-chevron-right"></i></a>
                        </div>
                    </div> <!-- single services -->
                </div>
                
                  <div class="col-lg-4 col-md-6 col-sm-8">
                    <div class="single-services text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.8s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.8s; animation-name: fadeIn;">
                        <div class="services-icon">
                            <img class="shape" src="{% static 'images/services-shape.svg'%}" alt="shape">
                            <img class="shape-1" src="{% static 'images/services-shape-1.svg'%}" alt="shape">
                            <i class="lni lni-control-panel"></i>
                        </div>
                        <div class="services-content mt-30">
                            <h4 class="services-title">Relevant</h4>
                            <p class="text">Релевантные документы по запросу</p>
                            <a class="more" href="/tools/relevant/">Learn More <i class="lni lni-chevron-right"></i></a>
                        </div>
                    </div> <!-- single services -->
                </div>
                
            </div> <!-- row -->
        </div> <!-- container -->
    </section>


{% endblock %}