<div class="dropdown">
    <div data-target="#dropdown-toggle" aria-controls="dropdown-toggle" class="dropdown-toggle" data-toggle="collapse" data-bs-toggle="dropdown" aria-expanded="false">
        <span id="region" class="select" class="dropdown-item" data-id="213" role="menuitem">Москва</span>
    </div>

    <ul id="dropdown-toggle" class="dropdown-menu bullet dropdown-menu-right dropdown-search-box" aria-labelledby="dropdownMenuButton" role="menu">
        <li role="presentation" class="search-box sticky-top" contenteditable="true"><input type="text" autocomplete="off" class="form-control" placeholder="Поиск..." value="" name="search" /></li>
    </ul>
</div>


<script>
    $(document).click(function(e) {
        if (!$(e.target).is('.form-control')) {
            $('.collapse').collapse('hide');	    
        }
    }
                     );
</script>

