<div class="col-12 col-md-6 d-flex align-items-center mb-4">
               
                <input type="checkbox" id="user_xml" class="checkbox d-inline"  name="user_xml">
            
            <div class="ms-2 d-inline">
                Свои XML
                </div>
            </div>

            <div class="col-12 col-md-4 d-none"></div>

            <div class="user_xml">

            <div class="col-12 col-md-10">
                <input class="mb-4" type="password" id="user_key" name="user_key" placeholder="Ключ" />
            </div>

            <div class="col-12 col-md-6">
                <input class="mb-4" type="text" id="user_login" name="user_login" placeholder="Логин" />
            </div>

            

            <p class="fw-lighter mt-4">Вы можете использовать свои XML лимиты, что бы не быть зависимыми от сервера. Для этого вам необходимо указать логин, ключ от сервиса. И IP адрес сервера на странице <a href="https://xml.yandex.ru/settings/" target="_blank">настроек</a>. Свой данные можно посмотреть на странице <a href="https://xml.yandex.ru/test/" target="_blank">теста</a>.</p>
        </div>