<div class="area wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-4">
            <h3>Setting & Summary</h3>
            <ul id="summary" class="mt-4 list-group list-group-flush lead">
                <li class="list-group-item"><span class="fw-bolder">Total queries:</span> {{total_queries | safe}}</li>
            </ul>
        </div>
    </div>

    <div class="table-responsive">
        <table
            id="table"
            data-toggle="table"
            data-show-export="true"
            data-search="true"
            data-pagination="true"
            data-page-list="[25,50,100,all]"
            data-page-size="25"
            data-pagination-parts="[pageSize, pageList]"
            class="table table-striped">
            <thead>
                <tr>
                    <th data-sortable="true" scope="col">#</th>
                    <th data-sortable="true" scope="col">Query</th>
                    <th data-sortable="true" scope="col">Hlwords</th>
                </tr>
            </thead>
            <tbody>
                {{result | safe}}
            </tbody>
        </table>
    </div>
</div>