{% extends "base/base.html" %}

{% block title %}Генератор паролей{% endblock %}

{% block h1 %}Password generator{% endblock %}

{% block content %}

<div class="tools-area wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s"> 

<form id="pass_form" class="tools-form" action="" method="POST">
   {% csrf_token %}
      <div class="row mt-4">
         <div class="col-12 col-md-4">
            <input type="checkbox" id="digits" class="checkbox"  name="digits"> 
            <span class="lead">Digits</span>
         </div>
         <div class="col col-md-4">
            <input type="checkbox" id="uppercase" class="checkbox" name="uppercase"> 
            <span class="lead">Uppercase</span>
         </div>
         <div class="col col-md-4"> 
            <input type="checkbox" id="punctuation" class="checkbox"  name="punctuation"> 
            <span class="lead">Punctuation</span>
         </div>
      </div>

      <div class="row mt-4 align-items-center">

         <div class="col col-md-6">
          <div class="lead">Quantity</div>
            <input id="quantity"  name="quantity"  min="0" value="1"  pattern="^[1-9]\d*$" required type="number" max="7" size="100">
         </div>

         
         <div class="col col-md-6">
            <span class="lead">Lenght</span>
            <input id="lenght" name="lenght" min="0" value="5" required type="number" max="30"placeholder="Lenght" size="50">
         </div>

         <div class="col col-md-12 mt-5">
            <button class="main-btn text-uppercase" type="submit">Generate</button>
         </div>

      </div>
     
      <div class="mt-5 text-center">
<div id="result"></div>
<div class="message text-center h4">copied</div>
   </div>
</form>
</div>

<script>

$( document ).ajaxComplete(function() {

    $('.password').on('click', function() {
  $(this).addClass('copied')
    .siblings().removeClass('copied');
})

    });
</script>

<script>

function copytext(el) {
    var $tmp = $("<textarea>");
    $("body").append($tmp);
    $tmp.val($(el).text()).select();
    document.execCommand("copy");
    $tmp.remove();
    $('.message').fadeIn(400);
    setTimeout(function(){$('.message').fadeOut(400);},5000);
}

</script>



<script>

function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');


function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});

</script>

<script>
	$('#pass_form').submit(function(e) {
        e.preventDefault(); 

		var $form = $(this);
		var quantity = $('#quantity').val();                 
		var lenght = $('#lenght').val();
        var digits = $('#digits').prop('checked');
        var uppercase = $('#uppercase').prop('checked');
        var punctuation = $('#punctuation').prop('checked');

		var data = {'lenght':lenght, 'quantity':quantity, 'digits':digits, 'uppercase':uppercase, 'punctuation':punctuation };    

		$.ajax({
			url: $form.attr('action'),
			type: $form.attr('method'),
			data: JSON.stringify(data),
			traditional: true,
			dataType: 'html',
			processData: false,
			beforeSend: function(xhr, settings){
				xhr.setRequestHeader("X-CSRFToken", csrftoken);
			}
		}).done(function(result){
			$('#result').html(result);
		}).fail(function(xhr, ajaxOptions, thrownError) {
			console.log(arguments); 
		})
		
	});       
</script>

{% endblock %}