
<div class="area wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s" >
<div class="row">
<div class="col-12 col-md-12 col-lg-4">
    <h3>Setting & Summary</h3>
    <ul id = "summary" class="mt-4 list-group list-group-flush lead">
        <li class="list-group-item"><span class="fw-bolder">Total queries:</span> {{total_queries | safe}}</li>
    </ul>
</div>

<div class="col-12 col-md-12 col-lg-8">
    
<figure class="highcharts-figure">
    <div id="container"></div>
</figure>

</div>
</div>

<div class="table-responsive">

<table id ="table" data-toggle="table" data-show-export="true" data-search="true" data-pagination="true" data-page-list="[25,50,100,all]" data-page-size="25" data-pagination-parts="[pageSize, pageList]" show-button-icons="false" class="table table-striped">
    <thead>
        <tr>
            <th data-sortable="true" scope="col" class="text-center">#</th>
            <th data-sortable="true" scope="col" class="text-center">Запрос</th>
            <th data-sortable="true" scope="col">URL</th>
        </tr>
    </thead>
    <tbody>
{{result | safe}}   
    </tbody>
</table>

</div>

</div>


<script>

    $( document ).ajaxComplete(function() {


        $(document).ready(function(){
 $(".competitors").mouseenter(function() {
  var value = $(this).text();
  $(".competitors")
   .css("background-color", "")
   .filter(function(){
     return $(this).text() === value;
   })
  .css("background-color", "yellow");
});
});
    });
</script>

