{% extends "base/base.html" %} 
{% block title %}document age{% endblock %} 
{% block h1 %}document age{% endblock %} 
{% block content %}

<div class="tools-area wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
    <form id="tool-form" class="tools-form" action="form/" method="POST">
        {% csrf_token %}

        <div class="row justify-content-center">

            <div class="col-12 col-md-10 mb-4">
                <textarea id="queries" required class="mt-4" rows="10" cols="45" name="text"></textarea>
            </div>
            <div class="col-12 col-md-12 mt-4">
                <button class="main-btn text-uppercase" type="submit">Сheck</button>
            </div>

            <div id="progress" class="progress_bar"></div>
        </div>
    </form>
</div>

<div id="result" class="mt-4"></div>

{% include "base/csrftoken.html" %} 
{% endblock %}
