{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="ru">
    <head>
        <meta charset="utf-8" />
        <meta name="robots" content="none"/>
        
        <!--====== Title ======-->
        <title>{% block title %}{% endblock %}</title>

        <meta name="description" content="{% block description %}{% endblock %}" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!--====== Animate CSS ======-->
        <link rel="stylesheet" href="{% static 'css/animate.css'%}" />

        <!--====== Line Icons CSS ======-->
        <link rel="stylesheet" href="{% static 'css/LineIcons.2.0.css'%}" />

        <!--====== Bootstrap CSS ======-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css" />

        <!--====== Default CSS ======-->
        <link rel="stylesheet" href="{% static 'css/default.css'%}" />

        <!--====== Style CSS ======-->
        <link rel="stylesheet" href="{% static 'css/style.css'%}" />
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" media="all" /> 
        
        <!--====== Jquery js ======-->
        <script src="{% static 'js/vendor/jquery-3.5.1-min.js' %}"></script>
        
    </head>

    <body>
        <!--[if IE]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

        <!--====== PRELOADER PART START ======-->

        <div class="preloader">
            <div class="loader">
                <div class="ytp-spinner">
                    <div class="ytp-spinner-container">
                        <div class="ytp-spinner-rotator">
                            <div class="ytp-spinner-left">
                                <div class="ytp-spinner-circle"></div>
                            </div>
                            <div class="ytp-spinner-right">
                                <div class="ytp-spinner-circle"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--====== PRELOADER PART ENDS ======-->

        <!--====== HEADER PART START ======-->

        <header class="header-area">
            <div class="navbar-area">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <nav class="navbar navbar-expand-lg">
                                <a class="navbar-brand" href="/">
                                    <img src="{% static 'images/logo.svg' %}" alt="Logo" />
                                </a>
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="toggler-icon"></span>
                                    <span class="toggler-icon"></span>
                                    <span class="toggler-icon"></span>
                                </button>

                                <div class="collapse navbar-collapse sub-menu-bar justify-content-center" id="navbarSupportedContent">
                                    <ul id="nav" class="navbar-nav">
                                        <li class="nav-item">
                                        <a href="/">home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/tools/age">age</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/tools/competitors">competitors</a>
                                    </li>
                                     <li class="nav-item">
                                        <a href="/tools/hlword">hlword</a>
                                    </li>
                                     <li class="nav-item">
                                        <a href="/tools/indexation">indexation</a>
                                    </li>
                                     <li class="nav-item">
                                        <a href="/tools/password">password</a>
                                    </li>
                                     <li class="nav-item">
                                        <a href="/tools/positions">positions</a>
                                    </li>
                                     <li class="nav-item">
                                        <a href="/tools/relevant">relevant</a>
                                    </li>
                                    </ul>
                                </div>
                                <!-- navbar collapse -->
                            </nav>
                            <!-- navbar -->
                        </div>
                    </div>
                    <!-- row -->
                </div>
                <!-- container -->
            </div>
            <!-- navbar area -->

            <div id="home" class="header-hero bg_cover" style="background-image: url({% static 'images/banner-bg.svg)'%}">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="header-hero-content text-center">
                                <h3 class="header-sub-title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">SEO Tools</h3>
                                <h1 class="header-title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.5s">{% block h1 %}{% endblock %}</h1>
                            </div>
                            <!-- header hero content -->
                        </div>
                    </div>
                    <!-- row -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="header-hero-image wow fadeIn" data-wow-duration="1.3s" data-wow-delay="1.4s">
                                {% block content %}{% endblock %}
                            </div>
                            <!-- header hero image -->
                        </div>
                    </div>
                    <!-- row -->
                </div>
                <!-- container -->
                <div id="particles-1" class="particles"></div>
            </div>
            <!-- header hero -->
        </header>

        <!--====== FOOTER PART START ======-->

        <footer id="footer" class="footer-area pt-120">
            <div class="container">
                <div class="footer-widget pb-100">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-8">
                            <div class="footer-about mt-50 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
                                <a class="logo" href="/">
                                    <img src="{% static 'images/logo.svg' %}" alt="logo" />
                                </a>
                            </div>
                            <!-- footer about -->
                        </div>
                        <div class="col-lg-5 col-md-7 col-sm-7">
                            <div class="footer-link d-flex mt-50 justify-content-md-between">
                                <div class="link-wrapper wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s"></div>
                                <!-- footer wrapper -->
                                <div class="link-wrapper wow fadeIn" data-wow-duration="1s" data-wow-delay="0.6s"></div>
                                <!-- footer wrapper -->
                            </div>
                            <!-- footer link -->
                        </div>
                        <div class="col-lg-3 col-md-5 col-sm-5">
                            <div class="footer-contact mt-50 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.8s">
                                <div class="footer-title">
                                    <h4 class="title"></h4>
                                </div>
                                <ul class="contact">
                                    <li></li>
                                </ul>
                            </div>
                            <!-- footer contact -->
                        </div>
                    </div>
                    <!-- row -->
                </div>
                <!-- footer widget -->
                <div class="footer-copyright">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="copyright d-sm-flex justify-content-between">
                                <div class="copyright-content">
                                    <p class="text">Web Template Designed and Developed by <a href="https://uideck.com" rel="nofollow">UIdeck</a></p>
                                </div>
                                <!-- copyright content -->
                            </div>
                            <!-- copyright -->
                        </div>
                    </div>
                    <!-- row -->
                </div>
                <!-- footer copyright -->
            </div>
            <!-- container -->
            <div id="particles-2"></div>
        </footer>

        <!--====== FOOTER PART ENDS ======-->

        <!--====== BACK TOP TOP PART START ======-->

        <a href="#" class="back-to-top"><i class="lni lni-chevron-up"></i></a>

        <!--====== BACK TOP TOP PART ENDS ======-->

        <!--====== PART START ======-->

        <!--
    <section class="">
        <div class="container">
            <div class="row">
                <div class="col-lg-"></div>
            </div>
        </div>
    </section>
-->

        <!--====== PART ENDS ======--> 
        
        
        
        <script defer src="{% static 'js/vendor/modernizr-3.7.1.min.js' %}"></script>
        <script defer src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>

        <!--====== Bootstrap js ====== -->

        <script defer src="{% static 'js/popper.min.js' %}"></script>
        <script defer src="{% static 'js/bootstrap-4.5.0.min.js' %}"></script> 
       <!--====== <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" 
            integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
 -->
        <script defer src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>
        <script defer src="https://unpkg.com/bootstrap-table@1.18.3/dist/extensions/export/bootstrap-table-export.js"></script>

        <!--====== Plugins js ======-->
        <script defer src="{% static 'js/plugins.js' %}"></script>

        <!--====== Scrolling Nav js ======-->
        <script defer src="{% static 'js/jquery.easing.min.js' %}"></script>
        <script defer src="{% static 'js/scrolling-nav.js' %}"></script>

        <!--====== wow js ======-->
        <script defer src="{% static 'js/wow.min.js' %}"></script>

        <!--====== Particles js ======-->
        <script defer src="{% static 'js/particles.min.js' %}"></script>

        <!--====== Main js ======-->
        <script defer src="{% static 'js/main.js' %}"></script>
        
        <!--====== Highcharts js ======-->

        <script defer src="https://code.highcharts.com/highcharts.js"></script>
        <script defer src="https://code.highcharts.com/modules/exporting.js"></script>
        <script defer src="https://code.highcharts.com/modules/export-data.js"></script>
        <script defer src="https://code.highcharts.com/modules/accessibility.js"></script>
        
        
        <!--====== Other js ======-->

        <script defer src="https://cdnjs.cloudflare.com/ajax/libs/progressbar.js/1.1.0/progressbar.min.js"
            integrity="sha512-EZhmSl/hiKyEHklogkakFnSYa5mWsLmTC4ZfvVzhqYNLPbXKAXsjUYRf2O9OlzQN33H0xBVfGSEIUeqt9astHQ==" crossorigin="anonymous">
        </script>

        <script defer src="{% static 'js/custom.js' %}"></script>
    </body>
</html>
