<div class="area wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-4">
            <h3>Setting & Summary</h3>
            <ul id="summary" class="mt-4 list-group list-group-flush lead">
                <li class="list-group-item"><span class="fw-bolder">URLs:</span> {{total_queries | safe}}</li>
                <li class="list-group-item"><span class="fw-bolder">В индексе:</span> {{indexed | safe}}</li>
                <li class="list-group-item"><span class="fw-bolder">Не в индексе:</span> {{not_in_the_index | safe}}</li>
            </ul>
        </div>
        <div class="col-12 col-md-12 col-lg-8">
    
<figure class="highcharts-figure">
    <div id="container"></div>
</figure>

</div>
    </div>

    <div class="table-responsive">
        <table
            id="table"
            data-toggle="table"
            data-show-export="true"
            data-search="true"
            data-pagination="true"
            data-page-list="[25,50,100,all]"
            data-page-size="25"
            data-pagination-parts="[pageSize, pageList]"
            class="table table-striped">
            <thead>
                <tr>
                    <th data-sortable="true" scope="col">#</th>
                    <th data-sortable="true" scope="col">URL</th>
                    <th data-sortable="true" scope="col">В индексе</th>
                    <th data-sortable="true" scope="col">Дата индексации</th>
                    <th data-sortable="true" scope="col">Сохраненная копия</th>
                    
                </tr>
            </thead>
            <tbody>
                {{result | safe}}
            </tbody>
        </table>
    </div>
</div>

<script>
    
Highcharts.chart('container', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
    title: {
        text: ''
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    accessibility: {
        point: {
            valueSuffix: '%'
        }
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: false
            },
            showInLegend: true
        }
    },
    series: [{
        name: 'Проверка индексации документа',
        colorByPoint: true,
        data: [{
            name: 'В индексе',
            y: {{indexed | safe}},
            sliced: true,
            selected: true
        }, {
            name: 'Не в индексе',
            y: {{not_in_the_index | safe}}
        }]
    }]
});

</script>