{% extends "base/base.html" %}
{% block title %}checking positions{% endblock %}
{% block h1 %}checking positions{% endblock %}
{% block content %}

<div class="tools-area wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
    <form id="tool-form" class="tools-form" action="form/" method="POST">
        {% csrf_token %}

        <div class="row justify-content-center">
            
            <div class="col-12 col-md-6 mb-4">
                {% include "yandex/region.html" %}
            </div>
            

            <div class="col-12 col-md-4 mb-4">
                <select id="top" name="top">
                    {{serp_depth | safe}}
                </select>
            </div>

            
            
            <div class="col-12 col-md-10 mb-4">
                <input pattern="^(?!.*_)([\wа-яА-ЯёЁ]([\wа-яА-ЯёЁ-]*[\wа-яА-ЯёЁ])*\.)+(?!.*\d)[\wа-яА-ЯёЁ]{2,63}$" required type="text" id="website" name="website" placeholder="Website" />
            </div>
            

            <div class="col-12 col-md-10 mb-4">
                <textarea id="queries" required class="mt-4" rows="10" cols="45" name="text"></textarea>
            </div>
            <div class="col-12 col-md-12 mt-4">
                <button class="main-btn text-uppercase" type="submit">Сheck</button>
            </div>

            <div id="progress" class="progress_bar"></div>
        </div>
    </form>
</div>

<div id="result" class="mt-4"></div>

{% include "base/csrftoken.html" %}

{% endblock %}