
<div class="area wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s" >
<div class="row">
<div class="col-12 col-md-12 col-lg-4">
    <h3>Setting & Summary</h3>
    <ul id = "summary" class="mt-4 list-group list-group-flush lead">
        <li class="list-group-item"><span class="fw-bolder">Total queries:</span> {{total_queries | safe}}</li>
    </ul>
</div>

<div class="col-12 col-md-12 col-lg-8">
    
<figure class="highcharts-figure">
    <div id="container"></div>
</figure>

</div>
</div>

<div class="table-responsive">

<table id ="table" data-toggle="table" data-show-export="true" data-search="true" data-pagination="true" data-page-list="[25,50,100,all]" data-page-size="25" data-pagination-parts="[pageSize, pageList]" show-button-icons="false" class="table table-striped">
    <thead>
        <tr>
            <th data-sortable="true" scope="col">#</th>
            <th data-sortable="true" scope="col">Query</th>
            <th data-sortable="true" scope="col">Position</th>
            <th data-sortable="true" scope="col">Url</th>
        </tr>
    </thead>
    <tbody>
{{result | safe}}   
    </tbody>
</table>

</div>

</div>



<script>
    
Highcharts.chart('container', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
    title: {
        text: ''
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    accessibility: {
        point: {
            valueSuffix: '%'
        }
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: false
            },
            showInLegend: true
        }
    },
    series: [{
        name: 'Queries',
        colorByPoint: true,
        data: [{
            name: '1-3',
            y: {{top_3 | safe}},
            sliced: true,
            selected: true
        }, {
            name: '4-10',
            y: {{top_4_10 | safe}}
        }, {
            name: '11-20',
            y: {{top_11_20 | safe}}
        }, {
            name: '21-30',
            y: {{top_21_30 | safe}}
        }, {
            name: '30+',
            y: {{top_30_plus | safe}}
        }, {
            name: '{{top | safe}}+',
            y: {{top_100_plus | safe}}
        }]
    }]
});

</script>

